pytest  # WAJIB ADA untuk lari integriti test
apache-airflow
astronomer-cosmos
apache-airflow-providers-google
dbt-bigquery
# Provider lain (optional kalau kau tak guna lagi)
apache-airflow-providers-databricks
apache-airflow-providers-dbt-cloud